<!DOCTYPE html>
<html>
<head>
  <title>Smart Content Studio</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-br from-gray-900 via-black to-gray-800 text-white">

<!-- NAVBAR -->
<div class="flex justify-between items-center px-10 py-6">
  <h2 class="text-xl font-bold">🚀 SCS</h2>

  <div class="space-x-6 text-gray-300">
    <a href="/generator" class="hover:text-white">Generator</a>
    <a href="/analyzer" class="hover:text-white">Analyzer</a>
    <a href="/dashboard" class="hover:text-white">Dashboard</a>
  </div>
</div>

<!-- HERO -->
<div class="flex flex-col items-center justify-center text-center mt-24">

  <h1 class="text-6xl font-bold leading-tight">
    Create Content <br>
    <span class="bg-gradient-to-r from-blue-400 to-purple-500 bg-clip-text text-transparent">
      Like a Pro 🚀
    </span>
  </h1>

  <p class="mt-6 text-gray-400 max-w-xl">
    Generate ideas, captions, and analyze performance with your AI-powered content assistant.
  </p>

  <div class="mt-8 space-x-4">
    <a href="/generator">
      <button class="px-6 py-3 bg-blue-500 rounded-lg hover:bg-blue-600 transition">
        Get Started
      </button>
    </a>

    <a href="/dashboard">
      <button class="px-6 py-3 border border-gray-500 rounded-lg hover:bg-gray-700 transition">
        View Demo
      </button>
    </a>
  </div>

</div>

<!-- CARDS -->
<div class="mt-24 grid grid-cols-3 gap-6 px-20">

  <div class="bg-white/10 backdrop-blur-lg p-6 rounded-xl hover:scale-105 transition">
    <h3 class="text-lg font-semibold">⚡ Fast Content</h3>
    <p class="text-gray-400 mt-2">Generate posts instantly</p>
  </div>

  <div class="bg-white/10 backdrop-blur-lg p-6 rounded-xl hover:scale-105 transition">
    <h3 class="text-lg font-semibold">📊 Analytics</h3>
    <p class="text-gray-400 mt-2">Track engagement easily</p>
  </div>

  <div class="bg-white/10 backdrop-blur-lg p-6 rounded-xl hover:scale-105 transition">
    <h3 class="text-lg font-semibold">🤖 AI Powered</h3>
    <p class="text-gray-400 mt-2">Smart recommendations</p>
  </div>

</div>
<footer class="text-center mt-20 text-gray-500 pb-6">
  © 2026 Smart Content Studio | Developed by Nandana Jayaprakash </footer>

</body>
</html>